<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/MostWanted/src/app/home/home.php"><img style="width: 150px;" class="logo" src="../../images/logo1.png" alt="MostWanted Logo"></a>
      <button class="navbar-toggler" …>…</button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="nav-home"><a href="/MostWanted/src/app/home/home.php" class="nav-link">Home</a></li>
          <li class="nav-item" id="nav-about"><a href="/MostWanted/src/app/about-us/about-us.php" class="nav-link">About</a></li>
          <li class="nav-item" id="nav-services"><a href="/MostWanted/src/app/services/services.php" class="nav-link">Services</a></li>
          <li class="nav-item" id="nav-cars"><a href="/MostWanted/src/app/car-details/car-details.php" class="nav-link" >Cars</a></li>
          <li class="nav-item" id="nav-contact"><a href="/MostWanted/src/app/contact/contact.php" class="nav-link">Contact</a></li>
          <li class="nav-item" id="nav-login"><a href="/MostWanted/src/app/login/login.php" class="nav-link">Login</a></li>          
          <li class="nav-item d-none" id="nav-logout"><a href="#" class="nav-link">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>