.navbar-brand {
  font-style: italic;
}
.request-form {
  background-color: red;
  width: 90%;
}

.nav-header__container {
  display: flex;
  justify-content: space-evenly;
}
.form-tab {
  color: white;
}

.form-tab:hover {
  color: black;
}

.logo {
  font-style: italic;
}

@media (max-width: 768px) {
  .request-form {
    width: 100%;
    margin-bottom: 25px;
  }
}
