.ftco-animate {
    opacity: 1;
    visibility: visible;
}

.mt-3 {
    display: flex;
    justify-content: center;
}

#car-list {
      width: 100%;
  gap: 15px;
  display: flex;
  justify-content: center;
}

.location {
  width: 380px;
  flex: none;
}

.cars {
    max-width: 380px;
}